#login-form {
    margin-top: 2rem;
}
#login-form .custom-control-input {
    position: static;
    opacity: 1;
    margin-right: 1rem;
}
.date-filter-range {
    min-width: 250px;
}
.date-filter-range input {
    font-size: 12px
}
.content-wrapper {
    height: auto;
}
.pale-yellow {
    background: #f7f394 !important;
}
.pale-gray {
    background: #aaaaaa !important;
}
.pale-green {
    background: #aef7ae !important;
}
.pale-red,
.pale-red td
{
    background: #f7bda8 !important;
}
.pale-blue {
    background: #c2c6f7 !important;
}
.pale-orange {
    background: #fbce8f !important;
}
/* PAGINATION */
.pagination {
    list-style: none;
}
.pagination > li:not(:first-child) > a {
    margin-left: -1px;
}

/*.field-payment-order_id,
.field-payment-document_id
{
    display: none;
}*/


.pagination > li > a,
.pagination > li > span
{
    position: relative;
    padding: .375rem .75rem;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.pagination > li.active > a {
    background: #e9ecef;
}
/* PAGINATION */
.kv-editor-container {
    height: 100% !important;
}
