.select-style {
    background: #fff;
    padding: 5px 20px;
    border: none;
    color: #007bff;
    border: 1px solid #007bff;
}
.table.table-brief-form th:first-child,
.table.table-brief-form td:first-child
{
    width: 40%;
}
.step-done, .step-done a {
    background: #6a6969;
    color: #c2c7d0 !important;
}
#changeorderform-order_id {
    margin-left: 20px;
}





/* BTNS */
.btn-primary {
    color: #007bff !important;
}
.btn-success {
    color: #28a745 !important;
}
.btn-warning {
    color: #ffc107 !important;
}
.btn-danger {
    color: #dc3545 !important;
}
.btn-primary,
.btn-default,
.btn-success,
.btn-warning,
.btn-danger
{
    background-color: transparent !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.btn-primary:hover,
.btn-default:hover,
.btn-success:hover,
.btn-warning:hover,
.btn-danger:hover
{
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
}
/* END BTNS*/
